<h2>API access with new token</h2>

<dt>The user is now authenticated through HelseID with a new access token!</dt>

<pre>

</pre>

<dt> New access token: </dt>
<dd>@ViewBag.AccessToken</dd>


<pre>

</pre>

<h2>API Response</h2>

<pre>@ViewBag.Json</pre>

