@{ 
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Welcome to the Sample API</h4>

    <p>
        This API was created to demonstrate how clients can access protected APIs through HelseID. <br />
        Run the API locally and access it through one of the samples provided at
        <a href="https://github.com/NorskHelsenett/HelseID.Samples">HelseIDs Github</a>. <br />
        <br />
        <strong>Note:</strong> When running the API locally the web page will return a 401 Error (Unauthorized) since the API is protected. <br />
        Keep the API running while connecting through one of HelseIDs samples.
        <br />
        <br />
            <a class="btn btn-primary" href="~/api">Run API locally</a>
        <br />
    </p>

    

</div>