<AuthorizeView>
    <Authorized>
        <strong>Hello, @context!.User!.Identity!.Name</strong>
        <a class="rz-button rz-button-md rz-secondary rz-text-align-center rz-mr-4" href="@context.User.FindFirst("bff:logout_url")?.Value">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="rz-button rz-button-md rz-secondary rz-text-align-center rz-mr-4" href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
