 <RadzenPanelMenu>
            <RadzenPanelMenuItem Path="/" Text="Home" Icon="home" />
            <RadzenPanelMenuItem Path="confowners" Text="Configuration Owners" Icon="account_box" />
        </RadzenPanelMenu>
        <div class="p-2">
           
        </div>
