@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <td>@Html.ActionLink("Login", "Login")</td> and use <strong>Test IDP</strong> to see how a client is authenticated. </p>
</div>
