@page "/fetchdata"
@using Blazor.WASM.BFF.Shared
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


    @if (result == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
            <p><em>Loaded!</em></p>
    }


        @code {
            private WeatherForecast[]? forecasts;
        object? result;

    protected override async Task OnInitializedAsync()
    {
      
        try
            {
                 var result  = await Http.GetStringAsync("/SampleApi");
            }
            catch (Exception e)
            {
                Console.Out.WriteLine(e.Message);
                
            }
        

    }
}

    </Authorized>
    <NotAuthorized>
        <p><em>Log In To get Access To Weather </em></p>
        <a href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
