@model HelseId.Samples.ApiAccess.ViewModels.ApiResponseViewModel
<div class="col-md">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Error when accessing the sample API</h5>
            
            <p class="card-text">An error occured: @Model.ErrorMessage</p>
        </div>
    </div>
</div>
    