@using Microsoft.AspNetCore.Authentication
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<strong>User:</strong><br />
        @foreach(string claim in ViewBag.User)
        {
            @claim<br/>
        }

        <strong>Access token:</strong><br />
        @await ViewContext.HttpContext.GetTokenAsync("access_token");<br />
        <strong>Refresh token:</strong><br />
        @await ViewContext.HttpContext.GetTokenAsync("refresh_token");<br />
        <br />
        <strong>Jwt</strong><br/>
        <pre>@ViewBag.Jwt</pre>
        <br/>
        <strong>Assertion</strong><br/>*@
    <pre>@ViewBag.Assertion</pre>
</body>
</html>
