<h2>API Test</h2>

<dt>The user is now authenticated through HelseID with the already existing access token!</dt>

<pre>

</pre>

<dt> Access token: </dt>
<dd>@ViewBag.AccessToken</dd>

<pre>

</pre>

</pre>
<h2>API Response</h2>

<pre>@ViewBag.Json</pre>