@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        This sample demonstrates how a client can access an API that requires authentication. <br>
        Click <td>@Html.ActionLink("Login", "Login")</td> and use <strong>Test IDP</strong> to authenticate the user. The logged in user can then call the API and access data.
    </p>

</div>
