@{
    ViewData["Title"] = "Wrong security level";
}

<div class="text-center">
    <h3>Access denied</h3>
    <p>You were logged on, but the security level was not accepted.</p>
    <p>Please <a asp-controller="Home" asp-action="Logout">log out</a> and try to log in log in with another identity provider!</p>
</div>