@page "/fetchdata"
@using Blazor.WASM.Api.Access.Shared
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    }


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
      
        try
            {
                forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            }
            catch (Exception)
            {

                
            }
        

    }
}

    </Authorized>
    <NotAuthorized>
        <p><em>Log In To get Access To Weather </em></p>
        <a href="bff/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
