@page "/fetchdata"
@using Blazor.WASM.Api.Access.Shared.AdminApiModels
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
<PageTitle>Admin Api</PageTitle>

<h1>Admin Client:</h1>

<p>This component demonstrates fetching data from the server.</p>


        @if (client == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                        <th>ClientName</th>
                        <th>ConfigurationOwnerName</th>
                        <th>ProtocolType</th>
                        <th>Updated</th>
                </tr>
            </thead>
            <tbody>          
                    <tr>
                        <td>@client.ClientName</td>
                        <td>@client.ConfigurationOwnerName</td>
                        <td>@client.ProtocolType</td>
                        <td>@client.Updated</td>
                    </tr>                
            </tbody>
        </table>
    }


@code {
    private HelseIdClient? client;

    protected override async Task OnInitializedAsync()
    {

        try
            {
                client = await Http.GetFromJsonAsync<HelseIdClient>("AdminApi/?id=BlazorWasmBff");
            }
        catch (Exception)
            {                
                
            }
            
          
         
        

    }
}

    </Authorized>
    <NotAuthorized>
        <p><em>Redirecting to Login.. </em></p>
      @*  <a href="bff/login">Log in</a>*@
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>
