<h1>API Test</h1>


<p>Du er nå autentisert via HelseID med eksisterende Accesstoken</p>

<div style="width:80em;">
    <h2>Innholdet i ditt access token:</h2>
    <pre style="white-space: pre-wrap;">@ViewBag.AccessToken</pre>
</div>

<h1>API Response</h1>

<pre>@ViewBag.Json</pre>