@using Microsoft.AspNetCore.Authentication

<h1>Secure</h1>

<h2>API Test</h2>


<div class="panel">
    <br\>
        <a class="btn btn-primary" href="~/home/callapi">Call API</a>
    <br\>
    <br\>
        <a class="btn btn-primary" href="~/test">Call API with new Token</a>
    <br\>
</div>


<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>